/* stili generali della pagina */


/* header */

#banner {
    background-color:rgb(78, 160, 255);    background-image: url(file:///Users/matteo/Desktop/Esercizi%20Boolean/Es.%202%20-%20The%20Booleaner/html-css-booleaner/img/pattern.png);
    background-size: contain;
}


#logo {
    width: 250px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
    margin-top: 40px;
}

#the-booleaner {
    color: rgb(66, 114, 216);
}



/* primo e secondo paragrafo */
.highlight {
    background-color: yellow;
}



/* tabella */
table {
    text-align: left;
    margin: 0 auto;
}

.prime-colonne {
    width: 25%;
}

thead {
    background-color: blue;
    color: white;
}

.azzurro {
    background-color: rgb(177, 229, 242);
}


/* footer */
.img-footer-uno {
    width: 300px;
    height: 200px;
    background-image: url(file:///Users/matteo/Desktop/Esercizi%20Boolean/Es.%202%20-%20The%20Booleaner/html-css-booleaner/img/monitor.jpg);
}

.white-text {
    color: white;
    font-weight: 700;
}

.img-footer-due {
    width: 300px;
    height: 200px;
    background-image: url(file:///Users/matteo/Desktop/Esercizi%20Boolean/Es.%202%20-%20The%20Booleaner/html-css-booleaner/img/graph.jpg);
}