/* stili generali della pagina */


/* header */

#banner {
    background-color:rgb(78, 160, 255);    background-image: url(file:///Users/matteo/Desktop/Esercizi%20Boolean/Es.%202%20-%20The%20Booleaner/html-css-booleaner/img/pattern.png);
    background-size: contain;
}


#logo {
    width: 250px;
    height: auto;
    position: relative;
    margin-bottom: 0px;
    margin-top: 40px;
}

.highlight {
    background-color: yellow;
}


/* tabella */
